In [1]:
%matplotlib notebook

In [2]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime as dt
from config import gkey
import gmaps

gmaps.configure(api_key=gkey)

In [3]:
housing_df = pd.read_csv("Resources/DC_Properties.csv")

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
housing_df2 = housing_df.drop(["Unnamed: 0", "BLDG_NUM", "NATIONALGRID", "X", "Y"], axis=1)
housing_df2.head()

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,...,ZIPCODE,LATITUDE,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,QUADRANT
0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,1972,...,20009.0,38.914680,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW
1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,1972,...,20009.0,38.914683,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW
2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,1984,...,20009.0,38.914684,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW
3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,1984,...,20009.0,38.914683,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW
4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,1985,...,20009.0,38.914383,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW

In [5]:
housing_df2['YEAR'] = pd.DatetimeIndex(housing_df2['SALEDATE']).year
housing_df2['MONTH'] = pd.DatetimeIndex(housing_df2['SALEDATE']).month
housing_df2.head()

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,QUADRANT,YEAR,MONTH
0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,1972,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,2003.0,11.0
1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,1972,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,2000.0,8.0
2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,1984,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,2016.0,6.0
3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,1984,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,2006.0,7.0
4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,1985,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,NaN,NaN

In [6]:
housing_df2 = housing_df2[housing_df2.PRICE.notnull()]
residential_df = housing_df2.loc[housing_df2["SOURCE"] == "Residential"]
residential_df.head()

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,QUADRANT,YEAR,MONTH
0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,1972,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,2003.0,11.0
2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,1984,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,2016.0,6.0
3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,1984,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,2006.0,7.0
5,3,2,Hot Water Rad,Y,1.0,10,5,1913.0,NaN,1972,...,-77.039715,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,2010.0,2.0
7,3,1,Hot Water Rad,Y,2.0,8,4,1906.0,2011.0,1972,...,-77.040129,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,NW,2011.0,9.0

In [7]:
remodel_df = residential_df[['YR_RMDL','WARD','ZIPCODE']]
remodel_df.head()

   YR_RMDL    WARD  ZIPCODE
0   1988.0  Ward 2  20009.0
2   2009.0  Ward 2  20009.0
3   2003.0  Ward 2  20009.0
5      NaN  Ward 2  20009.0
7   2011.0  Ward 2  20009.0

In [8]:
remodel_df = remodel_df[remodel_df.YR_RMDL.notnull()]
remodel_df = remodel_df[~(remodel_df['YR_RMDL'] < 1992.0)] 
remodel_df = remodel_df[~(remodel_df['YR_RMDL'] > 2017.0)]

remodel_df.head()

    YR_RMDL    WARD  ZIPCODE
2    2009.0  Ward 2  20009.0
3    2003.0  Ward 2  20009.0
7    2011.0  Ward 2  20009.0
8    2008.0  Ward 2  20009.0
14   2000.0  Ward 2  20009.0

In [9]:
year_1995 = remodel_df.loc[remodel_df["YR_RMDL"] == 1995.0]
year_1995.head(10)

      YR_RMDL    WARD  ZIPCODE
389    1995.0  Ward 2  20037.0
1097   1995.0  Ward 1  20001.0
1198   1995.0  Ward 6  20001.0
2344   1995.0  Ward 1  20009.0
2362   1995.0  Ward 2  20037.0
2395   1995.0  Ward 2  20009.0
2553   1995.0  Ward 2  20009.0
3077   1995.0  Ward 1  20009.0
3099   1995.0  Ward 2  20009.0
3367   1995.0  Ward 2  20001.0

In [17]:
zipcode_1995 = year_1995.groupby('ZIPCODE')['YR_RMDL'].count()
zipcode_1995_df2 = pd.DataFrame(data = zipcode_1995)
zipcode_1995_df2.reset_index(inplace=True)
zipcode_1995_df2

    ZIPCODE  YR_RMDL
0   20001.0       11
1   20002.0       31
2   20003.0       35
3   20007.0       24
4   20008.0       16
5   20009.0       11
6   20010.0        8
7   20011.0       14
8   20012.0        4
9   20015.0       21
10  20016.0       38
11  20017.0        2
12  20018.0        2
13  20019.0        2
14  20020.0        4
15  20032.0        2
16  20036.0        1
17  20037.0        2

In [18]:
Latitude = [38.91072, 38.90809, 38.87775, 38.91406, 38.93577, 38.92039, 38.93297, 38.95022, 38.97827, 38.96829, 38.93684, 38.93701, 38.93004, 38.89278, 38.86229, 38.83015, 38.90686, 38.89871] 
Longitude = [-77.01666, -76.97666, -76.98655, -77.07739, -77.05921, 77.03856, -77.03007, -77.01971, -77.02853, -77.06497, -77.09312, -76.99367, -76.96996, -76.94051, -76.97296, -77.00921, -77.04139, -77.05397]

zipcode_1995_df2['Lat'] = Latitude
zipcode_1995_df2["Lng"] = Longitude

zipcode_1995_df2

    ZIPCODE  YR_RMDL       Lat       Lng
0   20001.0       11  38.91072 -77.01666
1   20002.0       31  38.90809 -76.97666
2   20003.0       35  38.87775 -76.98655
3   20007.0       24  38.91406 -77.07739
4   20008.0       16  38.93577 -77.05921
5   20009.0       11  38.92039  77.03856
6   20010.0        8  38.93297 -77.03007
7   20011.0       14  38.95022 -77.01971
8   20012.0        4  38.97827 -77.02853
9   20015.0       21  38.96829 -77.06497
10  20016.0       38  38.93684 -77.09312
11  20017.0        2  38.93701 -76.99367
12  20018.0        2  38.93004 -76.96996
13  20019.0        2  38.89278 -76.94051
14  20020.0        4  38.86229 -76.97296
15  20032.0        2  38.83015 -77.00921
16  20036.0        1  38.90686 -77.04139
17  20037.0        2  38.89871 -77.05397

In [19]:
# Store latitude and longitude in locations
locations = zipcode_1995_df2[["Lat", "Lng"]]

# Fill NaN values and convert to float
rating = zipcode_1995_df2["YR_RMDL"].astype(float)

In [32]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=10, point_radius=0.1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
year_2000 = remodel_df.loc[remodel_df["YR_RMDL"] == 2000.0]
year_2000.head(10)

     YR_RMDL    WARD  ZIPCODE
14    2000.0  Ward 2  20009.0
66    2000.0  Ward 2  20009.0
103   2000.0  Ward 2  20009.0
221   2000.0  Ward 2  20009.0
355   2000.0  Ward 2  20009.0
395   2000.0  Ward 2  20037.0
396   2000.0  Ward 2  20037.0
403   2000.0  Ward 2  20037.0
404   2000.0  Ward 2  20037.0
412   2000.0  Ward 2  20037.0

In [34]:
zipcode_2000 = year_2000.groupby('ZIPCODE')['YR_RMDL'].count()
zipcode_2000_df2 = pd.DataFrame(data = zipcode_2000)
zipcode_2000_df2.reset_index(inplace=True)
zipcode_2000_df2

    ZIPCODE  YR_RMDL
0   20001.0       54
1   20002.0      137
2   20003.0       91
3   20005.0        4
4   20007.0       98
5   20008.0       84
6   20009.0       47
7   20010.0       29
8   20011.0       32
9   20012.0       14
10  20015.0       40
11  20016.0       34
12  20017.0        9
13  20018.0        5
14  20019.0       29
15  20020.0        9
16  20024.0        3
17  20032.0       14
18  20036.0        5
19  20037.0       17
20  20052.0        2

In [36]:
Latitude2 = [38.91072, 38.90809, 38.87775, 38.90422, 38.91406, 38.93577, 38.92039, 38.93297, 38.95022, 38.97827, 38.96829, 38.93684, 38.93701, 38.93004, 38.89278, 38.86229, 38.87037, 38.83015, 38.90686, 38.89871, 38.89930]
Longitude2 = [-77.01666, -76.97666, -76.98655, -77.03180, -77.07739, -77.05921, -77.03856, -77.03007, -77.01971, -77.02853, -77.06497, -77.09312, -76.99367, -76.96996, -76.94051, -76.97296, -77.03670, -77.00921, -77.04139, -77.05397, -77.04970]
                         
zipcode_2000_df2['Lat'] = Latitude2
zipcode_2000_df2["Lng"] = Longitude2

zipcode_2000_df2

    ZIPCODE  YR_RMDL       Lat       Lng
0   20001.0       54  38.91072 -77.01666
1   20002.0      137  38.90809 -76.97666
2   20003.0       91  38.87775 -76.98655
3   20005.0        4  38.90422 -77.03180
4   20007.0       98  38.91406 -77.07739
5   20008.0       84  38.93577 -77.05921
6   20009.0       47  38.92039 -77.03856
7   20010.0       29  38.93297 -77.03007
8   20011.0       32  38.95022 -77.01971
9   20012.0       14  38.97827 -77.02853
10  20015.0       40  38.96829 -77.06497
11  20016.0       34  38.93684 -77.09312
12  20017.0        9  38.93701 -76.99367
13  20018.0        5  38.93004 -76.96996
14  20019.0       29  38.89278 -76.94051
15  20020.0        9  38.86229 -76.97296
16  20024.0        3  38.87037 -77.03670
17  20032.0       14  38.83015 -77.00921
18  20036.0        5  38.90686 -77.04139
19  20037.0       17  38.89871 -77.05397
20  20052.0        2  38.89930 -77.04970

In [41]:
# Store latitude and longitude in locations
locations2 = zipcode_2000_df2[["Lat", "Lng"]]

# Fill NaN values and convert to float
rating2 = zipcode_2000_df2["YR_RMDL"].astype(float)

In [42]:
# Plot Heatmap
fig2 = gmaps.figure()

# Create heat layer
heat_layer2 = gmaps.heatmap_layer(locations2, weights=rating2, 
                                 dissipating=False, max_intensity=10, point_radius=0.1)


# Add layer
fig2.add_layer(heat_layer)

# Display figure
fig2

Figure(layout=FigureLayout(height='420px'))

In [24]:
remodel_ward_df2 = remodel_ward_df.groupby('YR_RMDL')
remodel_ward_df2.head()

      YR_RMDL    WARD  LONGITUDE   LATITUDE
2      2009.0  Ward 2 -77.040678  38.914684
3      2003.0  Ward 2 -77.040629  38.914683
7      2011.0  Ward 2 -77.040129  38.915408
8      2008.0  Ward 2 -77.039903  38.915017
14     2000.0  Ward 2 -77.039716  38.915038
16     2006.0  Ward 2 -77.039844  38.915018
19     2013.0  Ward 2 -77.040138  38.915019
20     2009.0  Ward 2 -77.033774  38.911370
22     2010.0  Ward 2 -77.033925  38.911368
23     2010.0  Ward 2 -77.033972  38.911368
24     2004.0  Ward 2 -77.034070  38.911319
25     2010.0  Ward 2 -77.034156  38.911337
29     2014.0  Ward 2 -77.034051  38.911699
32     2004.0  Ward 2 -77.033846  38.911710
37     2009.0  Ward 2 -77.033367  38.911701
41     2016.0  Ward 2 -77.033087  38.911710
42     2009.0  Ward 2 -77.032950  38.911696
43     2006.0  Ward 2 -77.032884  38.911704
44     2016.0  Ward 2 -77.032815  38.911706
45     2009.0  Ward 2 -77.032744  38.911716
46     2011.0  Ward 2 -77.032672  38.911716
52     2006.0  Ward 2 -77.033559  38.912019
54     2004.0  Ward 2 -77.033705  38.912042
55     2007.0  Ward 2 -77.033767  38.912021
58     2004.0  Ward 2 -77.035053  38.914741
61     2002.0  Ward 2 -77.034845  38.914269
62     2002.0  Ward 2 -77.036145  38.914672
65     2007.0  Ward 2 -77.035811  38.914960
66     2000.0  Ward 2 -77.035810  38.915375
68     2012.0  Ward 2 -77.034830  38.912797
...       ...     ...        ...        ...
876    1994.0  Ward 2 -77.038693  38.915804
963    1999.0  Ward 1 -77.032984  38.919359
1003   1992.0  Ward 6 -77.019128  38.913713
1021   1999.0  Ward 1 -77.022524  38.914253
1031   2017.0  Ward 6 -77.022676  38.911496
1097   1995.0  Ward 1 -77.025601  38.919031
1175   1998.0  Ward 6 -77.022575  38.910966
1198   1995.0  Ward 6 -77.020151  38.915159
1309   1992.0  Ward 6 -77.020140  38.914976
1522   1992.0  Ward 1 -77.027866  38.914809
1682   2017.0  Ward 6 -77.024875  38.912785
1790   1993.0  Ward 1 -77.027295  38.916625
1812   1998.0  Ward 1 -77.027542  38.914297
1847   2017.0  Ward 1 -77.025805  38.919936
1851   1998.0  Ward 6 -77.010082  38.874781
1992   1999.0  Ward 2 -77.040397  38.910527
2171   2017.0  Ward 2 -77.030331  38.913883
2179   1997.0  Ward 2 -77.030682  38.912792
2344   1995.0  Ward 1 -77.029328  38.916033
2362   1995.0  Ward 2 -77.052732  38.900883
2499   1997.0  Ward 2 -77.053522  38.900968
2563   1993.0  Ward 2 -77.046457  38.909117
2811   1997.0  Ward 2 -77.052450  38.900881
2832   1994.0  Ward 2 -77.046438  38.906772
2977   1994.0  Ward 2 -77.039419  38.914689
3055   1994.0  Ward 6 -77.020496  38.912391
3066   1993.0  Ward 1 -77.028809  38.915368
3091   1994.0  Ward 2 -77.029365  38.912287
4956   1993.0  Ward 6 -77.026551  38.909832
8229   1993.0  Ward 6 -77.001828  38.904807

[130 rows x 4 columns]

In [14]:
remodel_ward_1 = remodel_ward_df[remodel_ward_df['WARD'] == 'Ward 1']
remodel_ward_1df = remodel_ward_1.groupby('YR_RMDL')['WARD'].count()
remodel_ward_1pd = pd.DataFrame(data = remodel_ward_1df)
remodel_ward_1pd = remodel_ward_1pd.rename(columns={'WARD': 'Ward 1'})
remodel_ward_1pd.head()

         Ward 1
YR_RMDL
1992.0       34
1993.0        5
1994.0        5
1995.0       15
1996.0        5

In [15]:
remodel_ward_2 = remodel_ward_df[remodel_ward_df['WARD'] == 'Ward 2']
remodel_ward_2df = remodel_ward_2.groupby('YR_RMDL')['WARD'].count()
remodel_ward_2pd = pd.DataFrame(data = remodel_ward_2df)
remodel_ward_2pd = remodel_ward_2pd.rename(columns={'WARD': 'Ward 2'})
remodel_ward_2pd.head()

         Ward 2
YR_RMDL
1992.0       27
1993.0        6
1994.0       15
1995.0       30
1996.0       19

In [16]:
remodel_ward_3 = remodel_ward_df[remodel_ward_df['WARD'] == 'Ward 3']
remodel_ward_3df = remodel_ward_3.groupby('YR_RMDL')['WARD'].count()
remodel_ward_3pd = pd.DataFrame(data = remodel_ward_3df)
remodel_ward_3pd = remodel_ward_3pd.rename(columns={'WARD': 'Ward 3'})
remodel_ward_3pd.head()

         Ward 3
YR_RMDL
1992.0       73
1993.0       31
1994.0       44
1995.0       68
1996.0       56

In [17]:
remodel_ward_4 = remodel_ward_df[remodel_ward_df['WARD'] == 'Ward 4']
remodel_ward_4df = remodel_ward_4.groupby('YR_RMDL')['WARD'].count()
remodel_ward_4pd = pd.DataFrame(data = remodel_ward_4df)
remodel_ward_4pd = remodel_ward_4pd.rename(columns={'WARD': 'Ward 4'})
remodel_ward_4pd.head()

         Ward 4
YR_RMDL
1992.0       75
1993.0       16
1994.0       22
1995.0       30
1996.0       27

In [18]:
remodel_ward_5 = remodel_ward_df[remodel_ward_df['WARD'] == 'Ward 5']
remodel_ward_5df = remodel_ward_5.groupby('YR_RMDL')['WARD'].count()
remodel_ward_5pd = pd.DataFrame(data = remodel_ward_5df)
remodel_ward_5pd = remodel_ward_5pd.rename(columns={'WARD': 'Ward 5'})
remodel_ward_5pd.head()

         Ward 5
YR_RMDL
1992.0       57
1993.0        3
1994.0        6
1995.0       10
1996.0       12

In [19]:
remodel_ward_6 = remodel_ward_df[remodel_ward_df['WARD'] == 'Ward 6']
remodel_ward_6df = remodel_ward_6.groupby('YR_RMDL')['WARD'].count()
remodel_ward_6pd = pd.DataFrame(data = remodel_ward_6df)
remodel_ward_6pd = remodel_ward_6pd.rename(columns={'WARD': 'Ward 6'})
remodel_ward_6pd.head()

         Ward 6
YR_RMDL
1992.0       51
1993.0       20
1994.0       41
1995.0       63
1996.0       27

In [20]:
remodel_ward_7 = remodel_ward_df[remodel_ward_df['WARD'] == 'Ward 7']
remodel_ward_7df = remodel_ward_7.groupby('YR_RMDL')['WARD'].count()
remodel_ward_7pd = pd.DataFrame(data = remodel_ward_7df)
remodel_ward_7pd = remodel_ward_7pd.rename(columns={'WARD': 'Ward 7'})
remodel_ward_7pd.head()

         Ward 7
YR_RMDL
1992.0       42
1993.0        2
1994.0        9
1995.0        9
1996.0       29

In [21]:
remodel_ward_8 = remodel_ward_df[remodel_ward_df['WARD'] == 'Ward 8']
remodel_ward_8df = remodel_ward_8.groupby('YR_RMDL')['WARD'].count()
remodel_ward_8pd = pd.DataFrame(data = remodel_ward_8df)
remodel_ward_8pd = remodel_ward_8pd.rename(columns={'WARD': 'Ward 8'})
remodel_ward_8pd.head()

         Ward 8
YR_RMDL
1992.0       34
1993.0        1
1994.0        2
1995.0        3
1996.0        5

In [22]:
remodel_merge_1 = remodel_ward_1pd.join(remodel_ward_2pd,how='inner')
remodel_merge_2 = remodel_merge_1.join(remodel_ward_3pd,how='inner')
remodel_merge_3 = remodel_merge_2.join(remodel_ward_4pd,how='inner')
remodel_merge_4 = remodel_merge_3.join(remodel_ward_5pd,how='inner')
remodel_merge_5 = remodel_merge_4.join(remodel_ward_6pd,how='inner')
remodel_merge_6 = remodel_merge_5.join(remodel_ward_7pd,how='inner')
remodel_merge_df = remodel_merge_6.join(remodel_ward_8pd,how='inner')
remodel_merge_df

         Ward 1  Ward 2  Ward 3  Ward 4  Ward 5  Ward 6  Ward 7  Ward 8
YR_RMDL
1992.0       34      27      73      75      57      51      42      34
1993.0        5       6      31      16       3      20       2       1
1994.0        5      15      44      22       6      41       9       2
1995.0       15      30      68      30      10      63       9       3
1996.0        5      19      56      27      12      27      29       5
1998.0       10      26      70      25       5      79      19       1
1999.0       22      32      62      26      12      42      12       6
2000.0       71     122     155      76      58     221      35      19
2001.0       72      95     171      65      77     147      30      18
2002.0       79      95     191     115     109     232      56      11
2003.0      118     121     223     154     207     274     120      48
2004.0      182     154     258     267     287     398     170      65
2005.0      197     134     243     246     263     432     127      83
2006.0      157     135     205     292     234     338     183      80
2007.0      140     132     182     242     220     351     180      43
2008.0      161     136     210     186     214     329     125      58
2009.0      165     134     172     224     171     358     117      34
2010.0      201     126     169     378     284     401     223      90
2011.0      216     101     226     332     327     434     235      79
2012.0      164     112     228     388     300     330     210      76
2013.0      185      98     191     349     337     377     195     100
2014.0      145      93     180     389     299     324     214      96
2015.0      160      77     180     380     301     239     203     100
2016.0      132      55     105     324     244     176     238     134
2017.0      114      23     140     260     209     130     259     199

In [ ]:
locations = remodel_ward_df[["LATITUDE", "LONGITUDE"]]

rating = airport_df["Airport Rating"].astype(float)